<table class="rides">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Tempo</th>
      <th>Distance</th>
    </tr>
  </thead>
</table> 
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

