<%= link_to "Sign up", new_user_registration_path %>
<% if user_signed_in? %>
  <h2 class="welcome">Welcome back, <%= current_user.name %>!</h2>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
